.head{
    height: 40vh;
    background-color: var(--secondary-subtle);
}
.head_texto{
    height: 100%;
    width: 100%;
    font-size: 90px;
    color: var(--primary);
}
.card{
    margin: 30px auto;
}
.card-body .text-start{
    position: relative;
}

.price{
    position: absolute;
    background-color: var(--primary);
    font-size: 26px;
    display: block;
    border-radius: 5px;
    width: 100%;
    top: -100px;
    text-align: center;
    transition: all 0.3s ease;
}
.card:hover .price{
    background-color: var(--secondary);
    color: var(--primary);
    transform: scale(1.1);
}
.card-img img{
    transition: transform 0.3s ease;
}
.card-img:hover img{
    filter: brightness(0.5);
}