html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
  }

body{
    background-image: url(/img/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    width: 100%; /* Modificado aquí */
    margin: 0%;
    padding: 0%;
}

/*nav-item*/
/*d-flex flex-column align-items-center*/
.navbar-responsive{
    position: static;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
:root {
    --primary: #FFC107;
    --primary-subtle: #ffc10791;
    --secondary: #0d0024;
    --secondary-subtle: rgba(13, 0, 36, 0.6);
    --secondary-less-subtle:rgb(13, 0, 36, 0.8);
    --blue:#00182c;
    --orange:#ff822c;
    --light-yellow:#ffff89;
}

a{
    text-decoration: none;
    color: var(--secondary);
}
.color_primary{
    color: var(--primary);
}
.color-secondary{
    color: var(--secondary);
}

.bg-orange{
    background-color: var(--orange);
}
.bg-light-yellow{
    background-color: var(--light-yellow);
}
.bg-secundario{
    background-color: var(--secondary);
}
.bg-secundario-subtle{
    background-color: var(--secondary-subtle);
}
.bg-primario{
    background-color: var(--primary);

}
.head{
    position: relative;
    height: 100vh;
    min-height: 500px;
}
.head_texto {
    position: absolute;
}
.navbar {
    background-color: rgba(13, 0, 36, 0.6);
}
.nav-item:hover{
    background-color: var(--primary-subtle);
    border-radius: 10px;
}
.overlay {
    position: fixed;
    background: rgb(13, 0, 36);
    background: linear-gradient(90deg, rgba(13, 0, 36, 0.4822303921568627) 0%, rgba(13, 32, 125, 0.3701855742296919) 88%);
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}
.animation-bicycle{
    display: inline-block;
    font-size: 50px;
}
.animation-bicycle:hover{
    transform: rotate(360deg);
    transition: all 0.3s;

}


.card .card-img-top{
    height: 300px;
    object-fit: cover;
    overflow: hidden;

}
.card{
    position: relative;
    overflow: hidden;
    padding-bottom: 35px;
}
.rotate-bicycle {
    transition: all 0.3s;
    display: inline-block;
}
.info-icon{
    height: 140px;
}
.icon-breeze {
    height: 15px;
    transition: all ease 0.5s;
    opacity: 0;
    margin-left: -15px;
}

.navbar-brand:hover>.rotate-bicycle {
    margin-left: 5px;
}
    
.navbar-brand:hover>.icon-breeze {
    opacity: 100%;
    margin-left: 0px;

}
.icono-info{
    font-size: 50px;
}

.main-section{
    width: 100%;
    padding: 40px;
}
.main-section_title h2{
    font-size: 70px;
    text-wrap: wrap;
    width: 50%;
}
.main-section_title{
    position: relative;
}


.main-section:hover .badge-yellow{
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.badge-with-icon i{
    position: relative;
    font-size: 50px;
}


.main-section a div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{
    background-color: var(--secondary);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-toggler{
    position: absolute;
    right: 20px;
}

@media (max-width: 992px){
    
.navbar-toggler {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.toggle-icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
    transition: right 0.5s;

}
.toggle-icon::after {
    content: attr(data-open);
    color: var(--primary);
    font-size: 30px;
}

.navbar-toggler:checked {
    display: block;
    position: absolute;
    right: 60%;
    top: 0%;
}

.navbar-toggler:checked + .toggle-icon {
    right: 60%;
    top: -3%;
}

.navbar-toggler:checked + .toggle-icon::after {
    content: attr(data-close);
    background-color: var(--secondary);
    
}

.nav-item {
    flex-direction: row;
    padding: 30px;
}
.navbar-toggler:checked ~ .navbar-responsive {
    animation: slideNavbar 0.5s ease forwards;
}
.navbar-responsive {
    position: absolute;
    top: 0px;
    background-color: var(--secondary);
    position: fixed;
    height: 100vh;
    width: 60%;
    right: -60%;
}

@keyframes slideNavbar {
    0% {
        right: -60%;
    }
    100% {
        right: 0%;
    }
}

}